<nav class="sidebar">
  <ul>
    <li>
      <i class="bi bi-check-square-fill"></i>
      <a routerLink="/aprobaciones" routerLinkActive="active"> Aprobaciones</a>
    </li>
    <li>
      <i class="bi bi-file-text-fill"></i>
      <a routerLink="/approval-derails" routerLinkActive="active"> Detalles Aprobaciones</a>
    </li>
    <li>
      <i class="bi bi-plus-square-fill"></i>
      <a routerLink="/crear-solicitud" routerLinkActive="active"> Crear Aprobaciones</a>
    </li>
    <li>
      <i class="bi bi-people-fill"></i>
      <a routerLink="/users" routerLinkActive="active"> Usuarios</a>
    </li>
    <li>
      <i class="bi bi-bar-chart-fill"></i>
      <a routerLink="/reports-audits" routerLinkActive="active"> Informes y Auditorias</a>
    </li>
    <li>
      <i class="bi bi-gear-fill"></i>
      <a routerLink="/administration" routerLinkActive="active"> Administración</a>
    </li>
  </ul>
</nav>

