.sidebar {
  background-color: #3d6b63;
  width: 370px;
  height: 57%;
  padding: 100px 10px;
  margin-top: 10%;
  border-radius: 15px;
  box-shadow: 10px 0 5px 10px rgba(0,0,0,0.1);
  position: fixed;
}

.sidebar ul {
padding: 0;
}

.sidebar li {
  margin-bottom: 10%;
}

.sidebar a {
  gap: 20%;
  padding: 10px 12px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 170%;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar i {
  font-size: 250%;
  width: 20px;
  text-align: center;
}
