.sidebar {
  background-color: #3d6b63;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(90, 139, 129, 0.5);
}

.sidebar ul {
padding: 0;
}

.sidebar li {
  margin: 5%;
}

.sidebar a {
  gap: 20%;
  padding: 10px 12px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.sidebar i {
  font-size: 200%;
  width: 15px;
  text-align: center;
}
