<nav class="sidebar">
  <ul>
    <li>
      <i class="bi bi-file-earmark-arrow-up"></i>
      <a routerLink="/create-request" routerLinkActive="active">+ Creación solicitudes</a>
    </li>
    <li>
      <i class="bi bi-file-earmark-check"></i>
      <a routerLink="/approvals" routerLinkActive="active"> Aprobaciones</a>
    </li>
     <li>
      <i class="bi bi-eye"></i>
      <a routerLink="/approval-details" routerLinkActive="active"> Detalles Aprobaciones</a>
    </li>
    <li *ngIf="canShowUsers">
      <i class="bi bi-person-fill-add"></i>
      <a routerLink="/users" routerLinkActive="active"> Usuarios</a>
    </li>
    <li *ngIf="canShowReports">
      <i class="bi bi-card-checklist"></i>
      <a routerLink="/reports-audits" routerLinkActive="active"> Informes y Auditorias</a>
    </li>
     <li *ngIf="canShowAdmin">
      <div class="ico-dev-gear">
       <i class="bi bi-window base"></i>
       <i class="bi bi-code-slash code"></i>
       <i class="bi bi-gear gear"></i>
      </div>
      <a routerLink="/administration" routerLinkActive="active"> Administración</a>
    </li>
  </ul>
</nav>