.sidebar {
  background-color: #3d6b63;
  padding: 1%;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(90, 139, 129, 0.5);
  justify-content: space-between;
}

.sidebar ul {
  padding: 1%;
  margin: 0;
}

.sidebar li {
  display: flex;
  margin: 8% 0 8% 3%;
}

.sidebar a {
  padding: 0 15% 0 13%;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 160%
}

.sidebar i {
  font-size: 200%;
  width: 1%;
  height: 1%;
}
