.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.seccion-cabecera {
  flex-shrink: 0;
}

app-controles {
  flex-shrink: 0;
}

app-tabla-solicitudes {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.panel-tabla-scroll {
  flex: 1;
  overflow: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

app-controles-pie-de-pagina {
  flex-shrink: 0;
}

.seccion-cabecera h2 {
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  color: #9ca3af;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 24px 0;
}